*/__pycache__/
*/*.pyc
*.pyc
*/.idea/
.idea/
*/.vscode/
*/.DS_Store
*/mac_GPU.py
/RESULT
.iml
*.iml
.DS_Store

.idea/GNN.iml
.idea/misc.xml
.idea/workspace.xml
log/profile_UGCN/DESKTOP-JL5BP6F_5088.1751939757141662800.pt.trace.json
log/profile_UGCN/DESKTOP-JL5BP6F_13968.1751941076517076600.pt.trace.json
log/profile_UGCN/DESKTOP-JL5BP6F_20108.1751940819388335400.pt.trace.json
log/profile_UGCN/profile_summary.txt
log/profile_UGCN2/DESKTOP-JL5BP6F_13968.1751941407713293100.pt.trace.json
log/profile_UGCN2/profile_summary.txt
